<h1>
    Customer Login
</h1>
<div class="form">
    <form action="POST">
<label for="Email">Email</label>
<input type="email" name="Email">
<label for="Password">Password</label>
<input type="password" name="Password">
<input type="submit" value="Login">
</form> 
</div>
