<h1>
    Customer Signup
</h1>
<div class="form">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName">
    <label for="Email">Email</label>
    <input type="email" name="Email">
    <label for="Password">Password</label>
    <input type="password" name="Password"> 
</div>